coverage
.noseids
*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf

build/*

MANIFEST

# PyDev
.project
.pydevproject
.settings/

# Virtualenv
venv

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json


### Temporal files
utils/scripts/data_collection/data/*temporal/*
latam_covid_19_data/per_patient/*

!utils/scripts/data_collection/data/nicaragua_temporal/2020-02-25.csv
!utils/scripts/data_collection/data/uruguay_temporal/README.md
!utils/scripts/data_collection/data/francia_temporal/2021-05-18.csv
#./update_data.cpython-37m-x86_64-linux-gnu.so
